@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");

* {
  font-family: "Barlow", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(30deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: bg-animation 20s ease infinite;
  background-size: 300%;
  overflow: hidden;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

sup {
  font-weight: 700;
}

.main-page {
  position: relative;
}

.circle1,
.circle2,
.circle3 {
  border-radius: 50%;
  position: absolute;
  background-color: #156397;
  filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.25));
}

.circle1 {
  top: 20px;
  left: 200px;
  height: 640px;
  width: 640px;
  opacity: 25%;
  animation: circles 0.4s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}

.circle2 {
  top: 60px;
  left: 240px;
  height: 560px;
  width: 560px;
  opacity: 50%;
  animation: circles 0.8s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}

.circle3 {
  top: 100px;
  left: 280px;
  height: 480px;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: circles 1.2s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}

.qm {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-bottom: 5px;
  filter: invert(98%) sepia(0%) saturate(8%) hue-rotate(209deg) brightness(102%)
    contrast(104%);
  opacity: 50%;
}

.text-shadow {
  text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.text {
  color: white;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  text-align: center;
  margin: 8px;
  animation: text 0.6s 1.8s ease backwards;
}

.button-main,
.begin {
  width: 120px;
  height: 30px;
  color: #ffffff;
  background-color: #774dc1;
  border-radius: 100px;
  border: none;
  align-self: center;
  font-size: 18px;
}

.begin {
  margin-top: 20px;
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.25);
  width: 180px;
  height: 60px;
  font-size: 24px;
  transition: all 0.3s ease;

  animation: text 0.6s 1.8s ease backwards;
}
.begin:hover,
.complete:hover,
.ignore:hover {
  box-shadow: 0px 10px 10px -10px rgba(#36184f, 0.5);
  transform: translateY(5px);
  background: white;
  color: grey;
}

.start-text {
  color: white;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  text-align: center;
  margin: 8px;
  animation: text 0.6s 1.8s ease backwards;
  font-size: 94px;
}

.complete {
  transition: all 0.3s ease;
  margin-top: 20px;
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.25);
  animation: ButtonComeLeft 0.6s 3s ease backwards;
}

.page-button {
  top: 10px;
  position: absolute;
  width: 130px;
  height: 40px;
  height: 40;
  color: #707070;
  background-color: white;
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  border: none;
  transition: all 0.3s ease;

  font-size: 18px;
}
.page-button:hover {
  box-shadow: 0px 10px 10px -10px rgba(#36184f, 0.5);
  transform: translateY(5px);
  background: #774dc1;
  color: white;
}
.settings-button {
  right: 20px;
  animation: ButtonComeRight 0.6s 3s ease backwards;
}

.focus-button {
  left: 20px;
  animation: ButtonComeLeft 0.6s 3s ease backwards;
}

.ignore {
  transition: all 0.3s ease;
  margin-top: 20px;
  opacity: 65%;
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.25);
  animation: ButtonComeRight 0.6s 3s ease backwards;
}

.text-main {
  /* top: 220px;
  left: 280px;
  height: 240px;
  width: 480px; */
  font-size: 40px;
}

.text-sub {
  /* top: 360px;
  left: 340px;
  width: 360px; */
  font-size: 18px;
  opacity: 50%;
}

.hidden {
  animation: hide 0.6s 0.3s ease backwards;
  opacity: 0%;
}

.hidden-right {
  animation: hideRight 0.6s 0.3s ease backwards;
  opacity: 0%;
}

.hidden-right-sub {
  animation: hideRightSub 0.6s 0.3s ease backwards;
  opacity: 0%;
}

.removed {
  display: none;
}

@keyframes hide {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    transform: translateY(40px);
  }
}
@keyframes hideRightSub {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 0%;
    transform: translateX(40px);
  }
}
@keyframes hideRight {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    transform: translateX(40px);
  }
}

@keyframes text {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
}

@keyframes ButtonComeLeft {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
}

@keyframes ButtonComeRight {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
}

@keyframes circles {
  0% {
    width: 0;
    height: 0;
    opacity: 0%;
  }
}
